button.btn-filtrar{
    /* background-color: var(--header-color); */
    /* width: 10%;
    height: 90%; */
    /* border-radius: var(--border-radius-8px); */
}

/* || Botao */
button{
    width: fit-content;
    padding: .2rem 2rem;
    height: 4rem;
    border-radius: var(--border-radius-8px);
    background-color: var(--btn-color);
    font-weight: bold;
}
button:hover{
    
}

/* || Status tabela */
    .pago{
        background-color: #70ef79;
        border-radius: var(--border-radius-8px);
        font-weight: bold;
        text-align: center;
    }
    .pendente{
        background-color: #ef7085;
        border-radius: var(--border-radius-8px);
        font-weight: bold;
        text-align: center;
    }

