
/* || Botao */
button{
    width: fit-content;
    padding: .2rem 2rem;
    height: 4rem;
    border-radius: var(--border-radius-8px);
    background-color: var(--btn-color);
    font-weight: bold;
    transition: all .1s ease-out;
    color: var(--text-color);
}
button:hover{
    background-color: #323b33a1;
    box-shadow: 0px 0px 20px 0px #2196F3;
    color: #fff;
}
button:active{
    background-color: var(--btn-color-active);
    border-bottom: 4px solid #2196F3;
}


/* || Status tabela */
.status{
    background-color: #e490367b;
}
.pago{
    background-color: #70ef79;
}
.pendente{
    background-color: #ef7085;
}


/* || Status linha */
.pago-linha{
    color: #51be58;
}
.pendente-linha{
    color: #ef7085;
}


/* || Botao cancelar */
.btn-cancelar{
    background-color: var(--text-color-dark);
    color: #ef7085;
    border: .1rem solid #ee3a58;
}
.btn-cancelar:active{
    border-bottom: 4px solid #ee3a58;
}
.btn-cancelar:hover{
    box-shadow: 0px 0px 20px 0px #ee3a58;
}


/* || h1 padrao */
h1{
    text-align: center;
    margin-bottom: 6rem;
    color: var(--btn-color);
    font-size: x-large;
}