/* || Media query */

@media screen and (max-width:  810px){ 
    .container, body, .container-despesa, .container-categorias{
        font-size: calc(.5rem + 1vh);
    }
    
    /* || Tela Home */
    .container{
        height: calc(100% + 60vh);
    }
    .tittle{
        font-size: calc(1rem + 1vw);
    }
    .filtro{
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
    .btn-adicionar-despesa{
        margin-left: 0rem;
    }
    .tabela{
        width: 100%;
    }

    /* || Tela Categorias */
    .tabela-categorias{
        width: 100%;
    }
    .btn-adicionar-categoria{
        margin-left: 0rem;
    }
    .container-categorias{
        height: calc(100% + 20vh);
    }

    /* || Tela adc Despesas */
    form{
        width: 100%;
        padding: 2rem 4rem;
    }
    .container-despesa{
    height: calc(100% + 18rem);
    }
}
@media screen and (max-width:  490px){ 
    .tittle{
        display: none;
    }
}