/* || DarkMode Sistem */
@media (prefers-color-scheme: dark) {

    html,
    a {
        color: var(--text-color-dark);
    }

    header {
        background-color: var(--header-color-dark);
    }

    .container {
        background-color: var(--background-container-dark);
        color: var(--text-color-dark);
    }

    .status-sub-01 {
        box-shadow: 10px 20px 50px 5px #70ef797b;
    }

    .status-sub-02 {
        box-shadow: 10px 20px 50px 5px #ef70857b;
    }

    .status-sub-03 {
        box-shadow: 10px 20px 50px 5px #e490367b;
    }
}