.container-categorias {
    width: 100%;
    height: 100%;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-container);
    gap: 4rem;
}

.tabela-categorias {
    width: 90%;
    align-self: center;
    height: fit-content;
    overflow: auto;
}

.btn-adicionar-categoria {
    flex-grow: 1;
    margin-left: 6rem;
}

.tabela-categorias th:last-child,
.tabela-categorias td:last-child {
    text-align: center;
}

/* || Mensagens */
.confir-excluir,
.excluir-confirmado,
.excluir-negado {
    width: 90%;
    background-image: linear-gradient(80deg, #70ef797b, #ea4c66);
    font-weight: bold;
    font-size: 2rem;
    border-radius: var(--border-radius-8px);
    padding: .5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.excluir-confirmado {
    background-image: linear-gradient(80deg, #70ef79ae, #70ef797a);
    color: inherit;
    justify-content: center;
}
.excluir-negado {
    background-image: linear-gradient(80deg, #ef7085, #ea4c667a);
    justify-content: center;
}